html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* PAGE'S HEADER */
.header {
  position: fixed;
  top: 0;

  width: 100%;
}

.header__nav-bar {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto 1fr auto auto;
  align-items: center;

  padding: 5px 15px;

  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.header__nav-btn {
  padding: 8px 10px;

  font-size: 14px;
  text-align: center;

  background-color: inherit;
  border: none;
  cursor: pointer;

  transition: background-color .5s;
}

.header__nav-btn:hover {
  background-color: #f5f5f5;
}

.header__search-btn_hidden {
  display: none;
}

.header__section-link {
  color: black;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__section-link:hover {
  text-decoration: underline;
}

.header__section-link_hidden {
  display: none;
}

.header__main-page-link {
  display: grid;
  align-self: center;
  justify-items: center;
}

.header__main-page-img {
  max-width: 190px;
}

.header__action-btn {
  padding: 9px;

  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;

  background-color: #567b95;
  border: 1px solid #3c5568;
  border-radius: 3px;
  cursor: pointer;

  transition: background-color .5s;
}

.header__action-btn:hover {
  background-color: #4a6b82;
}

.header__account-btn {
  padding: 8px 0;

  font-size: 18px;
}

.header__account-btn_hidden {
  display: none;
}

@media (max-width: 1000px) {
  .header {
    position: relative;
  }

  .header__nav-bar {
    grid-template-columns: auto 1fr auto;
  }

  .header__main-page-img {
    max-width: 210px;
  }

  .header__action-btn {
    position: absolute;
    top: 55px;
    right: 52px;

    margin: 0 15px;
    padding: 0;

    color: #567b95;
    font-weight: normal;
    font-size: 10px;

    background: none;
    border: none;
  }

  .header__login-btn {
    right: 0;

    padding-left: 5px;

    border-left: 1px solid gray;
    border-radius: 0;
  }

  .header__action-btn:hover {
    color: #3c5568;

    background: none;
  }
}
