/* Table of Contents */

/*
  * PAGE'S HEADER
  * MAIN
  * ARTICLE
    ** Header
      *** Author Info
        **** Action Buttons
    ** Main Content
      *** Subscribe Plug
      *** Sidebar with articles
      *** Inflation Grid
      *** Youtube Video
      *** Picture
  * Media Query 1150px
  * Media Query 1000px
  * Media Query 750px
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* PAGE'S HEADER */
.header {
  position: fixed;
  top: 0;

  width: 100%;
}

.header__nav-bar {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto 1fr auto auto;
  align-items: center;

  padding: 5px 15px;

  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.header__nav-btn {
  padding: 8px 10px;

  font-size: 14px;
  text-align: center;

  background-color: inherit;
  border: none;
  cursor: pointer;

  transition: background-color .5s;
}

.header__nav-btn:hover {
  background-color: #f5f5f5;
}

.header__search-btn_hidden {
  display: none;
}

.header__section-link {
  color: black;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__section-link:hover {
  text-decoration: underline;
}

.header__section-link_hidden {
  display: none;
}

.header__main-page-link {
  display: grid;
  align-self: center;
  justify-items: center;
}

.header__main-page-img {
  max-width: 190px;
}

.header__action-btn {
  padding: 9px;

  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;

  background-color: #567b95;
  border: 1px solid #3c5568;
  border-radius: 3px;
  cursor: pointer;

  transition: background-color .5s;
}

.header__action-btn:hover {
  background-color: #4a6b82;
}

.header__account-btn {
  padding: 8px 0;

  font-size: 18px;
}

.header__account-btn_hidden {
  display: none;
}

/* MAIN */
main {
  margin-top: 80px;
}

/* ARTICLE */
.article {
  display: grid;
  grid-gap: 15px;
  grid-template-columns:
    [sidebar-left-start] 1fr
    [sidebar-left-end content-start] 2fr
    [content-end sidebar-right-start] 1fr
    [sidebar-right-end];
}

/* ARTICLE -- Header */
.article__header {
  grid-column: content-start;
}

.main-picture {
  display: grid;
  grid-row-gap: 15px;
  grid-column: 1 / -1;
  justify-items: center;

  margin: 0;
}

.main-picture__main-img {
  grid-column: 1 / -1;

  max-width: 80%;
}

.article__caption {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}

.main-picture__caption {
  max-width: 80%;
}

.article__author {
  display: inline-block;

  color: #888;
  font-size: 12px;
  font-style: normal;
}

.main-picture__author {
  margin: 5px 0;
}

/* Article -- Author Info */
.article__author-section {
  display: grid;
  grid-row-gap: 10px;
  grid-column: content-start;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr auto;
  align-items: end;

  margin: 10px 0 20px 0;

  font-size: 14px;
}

.article__link {
  color: #326891;
}

.article__link:hover {
  text-decoration: none;
}

.article__link:focus {
  text-decoration: none;
}

.article__author-text {
  color: #333;
  font-weight: bold;
  font-style: normal;
}

.article__author-link {
  color: #333;
  text-decoration-color: #ccc;
}

.article__date {
  grid-row: 2;

  font-size: 12px;
}

/* Article -- Action Buttons */
.article__actions-section {
  grid-row: 2;
  grid-column: -1;
}

.article__action-btn {
  color: #858585;
  font-size: 20px;

  background: none;
  border: none;
}

.article__action-btn:hover {
  color: #ccc;
}

.article__share-btn {
  padding: 7px;

  color: #000;
  font-size: 14px;

  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
}

.article__share-btn:hover {
  color: #000;

  background-color: #fff;
  border-color: #d6d6d6;
  cursor: pointer;
}

.article__share-btn_hidden {
  display: none;
}

/* Article -- Main Content */

.article__header-h2 {
  margin: 8px 0 5px 0;

  font-size: 18px;
}

.article__text {
  grid-column: content-start;

  margin: 0;

  color: #333;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}

/* Article -- Subscribe Plug */
.subscribe-plug {
  display: flex;
  flex-direction: column;
  grid-column: content-start;
  justify-content: center;

  margin: 10px 0;

  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.subscribe-plug__thanks-text {
  margin: 0;
}

.subscribe-plug__link {
  text-decoration: none;
}

.subscribe-plug__thanks-text::before {
  display: block;
  width: 70px;
  height: 1px;
  margin: 0 auto 15px auto;

  background-color: #ccc;

  content: '';
}

.subscribe-plug__link::after {
  display: block;
  width: 70px;
  height: 1px;
  margin: 15px auto 0 auto;

  background-color: #ccc;

  content: '';
}

/* Article -- Sidebar with articles */
.articles-sidebar {
  grid-row: span 4;
  grid-column: sidebar-right-start;
  place-self: center;

  max-width: 200px;
}

.articles-sidebar_hidden {
  display: none;
}

.articles-sidebar__header {
  margin: 0;
  padding: 10px 0;

  font-size: 12px;

  border-bottom: 1px solid #e0e0e0;
}

.articles-sidebar__article {
  display: flex;
  align-items: center;

  margin: 15px 0;

  font-size: 12px;
}

.articles-sidebar__title {
  margin: 0;
}

.articles-sidebar__image {
  flex: none;

  width: 75px;
  margin-right: 10px;
}

.articles-sidebar__image_hidden {
  display: none;
}

.articles-sidebar__link {
  color: #3d3d3d;
  font-weight: normal;
  text-decoration: none;
}

.articles-sidebar__link:hover {
  text-decoration: underline;
}

/* Article -- Inflation Grid */
.inflation-grid {
  display: grid;
  grid-gap: 10px;
  grid-column: 1 / -1;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  margin: 15px 100px 30px 100px;
}

.inflation-grid__title {
  grid-column: 1 / -1;

  margin: 0;

  font-size: 17px;
}

.inflation-grid__subtitle {
  grid-column: 1 / -1;

  margin: 0;

  color: #666;
  font-size: 13px;
}

.inflation-grid__item-title {
  float: left;
  margin: 0;
  margin-top: 4px;
  margin-right: 15px;

  font-size: 12px;
}

.inflation-grid__img {
  display: block;
  max-height: 110px;
  margin: 0 auto;
}

.inflation-grid__item-text {
  display: inline;
  margin: 0;

  font-size: 13px;
  text-align: justify;
}

.inflation-grid__author-section {
  grid-column: 1 / -1;

  margin-top: 30px;
}

.inflation-grid__author {
  padding-top: 20px;

  color: #333;
  font-size: 13px;
  font-style: normal;
}

.inflation-grid__author-section::before {
  display: block;
  width: 70px;
  height: 1px;

  background-color: #000;

  content: '';
}

/* Article -- Youtube Video */
.youtube-video {
  grid-column: content-start;
  height: 400px;

  margin: 30px 0 75px 0;
}

.youtube-video__video {
  width: 100%;
  height: 100%;
}

.youtube-video__caption {
  position: relative;

  margin: 5px 0;
}

/* Article -- Picture */
.picture {
  grid-column: content-start;

  margin: 20px 0 15px 0;
}

.picture__img {
  width: 100%;
}

.picture__caption {
  margin: 7px 0;
}

@media (max-width: 1150px) {
  /* Article -- Sidebar with articles */
  .articles-sidebar {
    width: 130px;
  }

  .articles-sidebar__article {
    margin: 0;
    padding: 15px 0;

    border-bottom: 1px solid #e0e0e0;
  }

  .articles-sidebar__link {
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  /* PAGE'S HEADER */
  .header {
    position: relative;
  }

  .header__nav-bar {
    grid-template-columns: auto 1fr auto;
  }

  .header__main-page-img {
    max-width: 210px;
  }

  .header__action-btn {
    position: absolute;
    top: 55px;
    right: 52px;

    margin: 0 15px;
    padding: 0;

    color: #567b95;
    font-weight: normal;
    font-size: 10px;

    background: none;
    border: none;
  }

  .header__login-btn {
    right: 0;

    padding-left: 5px;

    border-left: 1px solid gray;
    border-radius: 0;
  }

  .header__action-btn:hover {
    color: #3c5568;

    background: none;
  }

  /* ARTICLE */
  .article {
    grid-template-columns:
      [sidebar-left-start] 1fr
      [sidebar-left-end content-start] 4fr
      [content-end sidebar-right-start] 1fr
      [sidebar-right-end];
  }

  /* Article -- Header */
  .main-picture__main-img {
    max-width: 100%;
  }

  .main-picture__caption {
    max-width: 90%;
  }

  /* Article -- Inflation Grid */
  .inflation-grid {
    margin: 15px 25px;
  }
}

@media (max-width: 750px) {
  /* ARTICLE */
  .article {
    grid-template-columns:
      [sidebar-left-start] 1fr
      [sidebar-left-end content-start] 10fr
      [content-end sidebar-right-start] 1fr
      [sidebar-right-end];
  }

  /* Article -- Header */
  .article__header-h1 {
    grid-column: 1 / -1;

    margin: 10px;

    font-size: 25px;
  }

  .article__caption {
    font-size: 13px;
  }

  /* Article -- Main Content */
  .article__header-h2 {
    font-size: 17px;
  }

  .article__text {
    font-size: 17px;
    line-height: 1.5;
  }

  /* Article -- Youtube Video */
  .youtube-video {
    grid-column: 1 / -1;

    margin: 30px 20px 75px 20px;
  }

  /* Article -- Picture */
  .picture {
    grid-column: 1 / -1;

    margin: 20px;
  }
}

.test {
  height: 2000px;
}
